<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
        blanditiis atque ab adipisci asperiores placeat iste! Non, amet corrupti
        quos modi similique velit odit quia, veniam inventore laudantium, quae
        molestias.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
        praesentium! Reprehenderit eveniet itaque saepe magnam officia tempore
        quaerat! Vitae non dignissimos enim ullam temporibus vero soluta nobis
        provident excepturi ducimus?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, ut
        quam, sapiente sunt impedit delectus eligendi iusto excepturi a
        voluptates aspernatur totam dicta. Hic aperiam ad, eligendi error
        corporis eos?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
